@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* Multiple */
.bg-color {
    background-color: #FFF8F3;
}
.header-img {
    background-image: url("../images/developer.png"), url("../images/header_bg.png"); 
    background-repeat: no-repeat;
    background-position: center left, bottom right;
    margin-left: 20px; 
}
.header-img > p {
    display: none;
}
.btn-orange {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
}
.btn-white {
    color: #FD6E0A;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    border: 1px solid #FD6E0A;
}
.color-dark2 {
    color: #474747;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 51px 256px; */
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin-top: 51px;
    margin-left: 256px;
}
nav ul {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 230px;
}
nav ul li {
    list-style: none;
    margin-inline-start: 51px;
}
nav ul li a {
    text-decoration: none;
}

/* content */
.top-banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;

}
.content-subtitle {
    font-size: 45px;
    font-weight: 600;
    margin-top: 297px;
    margin-bottom: 5px;
}
.content-title {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-txt {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
    width: 585px;
}
.btn-dwn-cv {
    margin-right: 30px;
}
.banner-img {
    width: 584px;
    margin-top: 161px;
    margin-bottom: 0px;
    margin-right: 38px;
}
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    margin: 130px 230px;
    padding: 130px 156px;
    border-radius: 10px;
}
.center {
    text-align: center;
}
.about-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-paragraph {
    font-size: 18px;
    color: #757575;
    margin: 30px 0px;
}
.about-contents {
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-size: 20px;
    color: #757575;
}
.item-txt {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

/* section 3 */
.skill-lists {
    display: flex;
    justify-content: center ;
}
.skill-box {
    width: 260px;
    height: 370px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    margin: 24px;
}
.skill-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #181818;
}
.skill-description {
    margin-top: 20px;
    font-size: 16px;
    color: #757575;
    padding-right: 3px; 
}
.resume {
    margin-top: 130px;
}